


<div class="card-container">
    <div class="card">
  <mat-card class="example-card">
    <mat-card-header>
      <!-- <div mat-card-avatar class="example-header-image"></div> -->
      <mat-card-title>Top journaux </mat-card-title>
      <mat-card-subtitle>Top journaux</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/images/Innovation-amico.png" alt="Photo of a Shiba Inu">
   
    <mat-card-actions>
      <!-- <button mat-button>LIKE</button> -->
      <button  routerLink="/chart1" mat-button>Consulter</button>
    </mat-card-actions>
  </mat-card>
  </div>
    <div class="card">
  <mat-card class="example-card">
    <mat-card-header>
      <!-- <div mat-card-avatar class="example-header-image"></div> -->
      <mat-card-title> Nombre d'article par année</mat-card-title>
      <mat-card-subtitle>Nombre d'article par année</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/images/Business Plan-amico.png" alt="Photo of a Shiba Inu">
  
    <mat-card-actions>
      <!-- <button mat-button>LIKE</button> -->
      <button   routerLink="/chart2" mat-button>Consulter</button>
    </mat-card-actions>
  </mat-card>
  </div> 
    <div class="card">
  <mat-card class="example-card">
    <mat-card-header>
      <!-- <div mat-card-avatar class="example-header-image"></div> -->
      <mat-card-title> Collaborations</mat-card-title>
      <mat-card-subtitle>Collaborations</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/images/Collaboration-amico.png" alt="Photo of a Shiba Inu">
   
    <mat-card-actions>
      <!-- <button mat-button>LIKE</button> -->
      <button  routerLink="/chart3" mat-button>Consulter</button>
    </mat-card-actions>
  </mat-card>
  </div>
   
  
    <div class="card">
  <mat-card class="example-card">
    <mat-card-header>
      <!-- <div mat-card-avatar class="example-header-image"></div> -->
      <mat-card-title> Top Pays</mat-card-title>
      <mat-card-subtitle>Top Pays</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/images/Directions-bro.png" alt="Photo of a Shiba Inu">
   
    <mat-card-actions>
      <!-- <button mat-button>LIKE</button> -->
      <button mat-button  routerLink="/chart4" >Consulter</button>
    </mat-card-actions>
  </mat-card>
  </div>
  </div>

  